/* =========================
   HERO OVERLAYS
========================= */

.hero::before{
    content:"";

    position:absolute;

    inset:0;

    background:
    radial-gradient(
    circle at center,
    rgba(199,164,108,0.12),
    transparent 60%
    );

    pointer-events:none;

    z-index:1;
}

.hero::after{
    content:"";

    position:absolute;

    inset:0;

    background:
    linear-gradient(
    to top,
    rgba(0,0,0,0.92),
    rgba(0,0,0,0.15)
    );

    pointer-events:none;

    z-index:1;
}